<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Elemento en bloque -->
    <h1>Título</h1>
    <p>Hola</p>

    <!-- En linea -->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img src="assets/img/star_wars.webp" alt="" width="500px">

    <a href="https://www.youtube.com/">YouTube</a>
    <a href="..index.html">index</a>
    
    <!-- Listas ordenadas -->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>
    <!-- Listas no ordenadas -->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- CSS en el documento -->
    <style>
        body{
            background-color: rgb(105, 105, 105);
        } 
    </style>

    <!-- Enlazar archivo de css -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- JavaScript en el documento -->
    <script>
        alert("Hola mundo!")
    </script>

    <!-- Enlazar un archivo JavaScript -->
    <script src="assets/js/main.js"></script>

</body>
</html>